.parent-container {
    display: flex;
}

#article1, #article2 {
    flex-direction: row;
    flex-basis: 50%;
    text-align: center;
    margin: 1em;
}

#article1 {
    border: solid 1px blue;
}

#article2 {
    border: solid 1px red;
}